/* Estilos CSS */

.card {
  display: none;
  margin-top: 10rem;
  text-align: center;
}
.active {
  display: block;
}

h2 {
  font-size: 2.2em;
  text-align: center;
  color: #000;
}

p {
  font-size: 1.3em;
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}
