article {
  width: 100%;
  height: 100%;
  padding: 1em;
  margin-top: 12em;
}

h2 {
  padding: 0 1em;
}

.content {
  padding: 0, 1em;
  font-size: 1.3em;
}

@media screen and (max-width: 600px) {
  article {
    margin-top: 0.5em;
  }
}
