.section {
  width: 50%;
  margin-left: 25%;
}

.gallery ul li,
.gallery li img {
  -webkit-transition: all 1s cubic-bezier(0.42, 0.2, 0.2, 0.64);
  -moz-transition: all 1s cubic-bezier(0.42, 0.2, 0.2, 0.64);
  -o-transition: all 1s cubic-bezier(0.42, 0.2, 0.2, 0.64);
  transition: all 1s cubic-bezier(0.42, 0.2, 0.2, 0.64);
}

.gallery ul li {
  position: relative;
  float: left;
  width: 140px;
  height: 140px;
  margin: 5px;
  padding: 5px;
  list-style-type: none;
}

.gallery ul li:hover {
  z-index: 99;
}

.gallery ul li img {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #999999;
  padding: 5px;
  width: 140px;
  height: 140px;
  background: #abc4d6;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  border-radius: 75px;
}

.gallery ul li img:hover {
  width: 280px;
  height: 280px;
  margin-top: -150px;
  margin-left: -150px;
  top: 50%;
  left: 50%;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  border-radius: 40px;
}
