.lv-picture {
  position: absolute;
  height: 9em;
  width: 10em;
  border: 1px solid;
  margin-left: 12em;
  margin-top: -6.8em;
  display: none;
}

@media screen and (max-width: 620px) {
  .lv-picture {
    display: block !important;
  }
}
