/* CSS para telas grandes */

/* Define a altura do elemento html como 100% da janela */
html {
  height: 100%;
}

/* Estilo para o corpo da página */
body {
  /* Define um plano de fundo usando gradientes lineares */
  background: -webkit-linear-gradient(
      rgba(5, 610, 255, 0.4),
      rgba(135, 60, 255, 0) 80%
    ),
    -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(
            255,
            160,
            65,
            0.9
          )
          76%);
}

/* Oculta o elemento com classe 'title-toggle' */
.title-toggle {
  display: none;
}

/* Estilo para a navegação do menu */
.nav-menu {
  display: flex; /* Usa flexbox para o layout */
  flex-direction: column; /* Direção da coluna */
  align-items: flex-start; /* Alinha os itens à esquerda */
  margin-left: -2.8em; /* Margem à esquerda */
  margin-top: 0.3em; /* Margem superior */
}

/* Estilo para o título h1 */
h1 {
  font-size: 3rem; /* Tamanho da fonte */
  font-weight: 700; /* Peso da fonte */
  text-align: center; /* Alinha ao centro horizontalmente */
}

/* Estilo para os itens de lista dentro de ul */
ul > li {
  margin-left: 0.1em; /* Margem à esquerda */
}

/* Limpa o elemento antes e depois com clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

/* Estilo para o menu principal */
.menu {
  list-style: none; /* Remove os marcadores de lista */
  margin: 50px auto; /* Margem ao redor do menu */
  width: 800px; /* Largura do menu */
  width: -moz-fit-content; /* Largura para Firefox */
  width: -webkit-fit-content; /* Largura para WebKit */
  width: fit-content; /* Largura ajustável conforme o conteúdo */
}

/* Estilo para os itens do menu */
.menu > li {
  background: #34495e; /* Cor de fundo dos itens do menu */
  float: left; /* Alinha os itens à esquerda */
  position: relative; /* Posição relativa para posicionamento */
  -webkit-transform: skewX(25deg); /* Inclinação */
}

/* Estilo para os links do menu */
.menu a {
  display: block; /* Mostra os links como blocos */
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove decoração de texto */
  font-family: Arial, Helvetica; /* Fonte */
  font-size: 1rem; /* Tamanho da fonte */
}

/* Efeito de hover nos itens do menu */
.menu li:hover {
  background: #e74c3c; /* Cor de fundo ao passar o mouse */
}

/* Estilo para os links dentro dos itens do menu */
.menu > li > a {
  -webkit-transform: skewX(-25deg); /* Inclinação ao contrário */
  padding: 0.5em 1em; /* Preenchimento interno */
  text-align: center; /* Alinha ao centro horizontalmente */
}

/* Estilo para o submenu */
.submenu {
  position: absolute; /* Posição absoluta */
  width: 13rem; /* Largura do submenu */
  left: 50%; /* Posicionamento a partir do centro */
  margin-left: -100px; /* Ajuste fino do posicionamento */
  -webkit-transform: skewX(-25deg); /* Inclinação */
  -webkit-transform-origin: left top; /* Origem da transformação */
}

/* Estilo para os itens do submenu */
.submenu li {
  background-color: #34495e; /* Cor de fundo dos itens do submenu */
  position: relative; /* Posição relativa para posicionamento */
  overflow: hidden; /* Esconde conteúdo fora do limite */
}

/* Estilo para os links do submenu */
.submenu > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em; /* Preenchimento interno */
}

/* Pseudo-elemento para efeito visual */
.submenu > li::after {
  content: ""; /* Conteúdo vazio */
  position: absolute; /* Posição absoluta */
  top: -125%; /* Posicionamento a partir do topo */
  height: 100%; /* Altura total */
  width: 100%; /* Largura total */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9); /* Sombra */
}

/* Transições e visibilidade dos itens do submenu */
.submenu,
.submenu li {
  opacity: 1; /* Opacidade total */
  visibility: hidden; /* Visibilidade oculta */
}

/* Efeito de hover nos itens do menu para mostrar o submenu */
.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1; /* Mostra o submenu */
  visibility: visible; /* Torna os itens visíveis */
}
