ul.scroll-menu {
  position: relative;
  display: inherit !important;
  overflow-x: auto;

  width: 100%;
  height: auto;
  max-height: 500px;
  margin: 0;
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
ul.scroll-menu-2x {
  max-height: 230px;
}
